body {
  color: #f5f5f5;
  font-family: 'Roboto', sans-serif; /* For body text */
  font-size: 16px; /* Sets a base font size */
  line-height: 1.6; /* Improves readability */
  margin: 0; /* Removes default margin */
  padding: 0; /* Remove default padding */
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif; /* For headings */
  font-weight: 600; /* Uses bold for headings */
}

button {
  font-family: 'Poppins', sans-serif; /* For button text */
  font-weight: 600; /* Uses bold for button text */
}
