.Header header{
    background-color: gray;
    display:flex;
    justify-content: space-between;
}

.Header a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
}
.Header .nav-links{
    list-style: none;
}
.Header .nav-links li{
    display: inline-block;
    padding: 0px 20px;
}