.Header header {
    background: linear-gradient(135deg, #3a3a3a, #1f1f1f);
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Header a {
    text-decoration: none;
    color: white;
}

.Header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: relative;
    flex-wrap: wrap; 
}

.Header .nav-links li {
    position: relative;
    padding: 10px 20px;
}

.button {
    background-color: #4a90e2;
    color: white;
    height: 45px;
    width: 75px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #357ABD;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    z-index: 1;
    width: 150px;
}

.dropdown-menu li {
    padding: 8px;
    color: white;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: #555;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


@media (max-width: 768px) {
    .Header header {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .Header .nav-links {
        flex-direction: column; 
        gap: 10px; 
        width: 100%; 
    }

    .button {
        margin-top: 10px; 
        margin-right: 0; 
    }
}

@media (max-width: 480px) {
    .Header header {
        padding: 10px; 
    }

    .Header .nav-links li {
        padding: 5px 10px; 
    }

    .button {
        width: 100%; 
        height: 40px; 
        margin: 10px 0; 
    }
}
